training_checkpoints/checkpoint
training_checkpoints/ckpt-1.data-00000-of-00001
training_checkpoints/ckpt-1.index
training_checkpoints/ckpt-2.data-00000-of-00001
training_checkpoints/ckpt-2.index
training_checkpoints/ckpt-3.data-00000-of-00001
training_checkpoints/ckpt-3.index
training_checkpoints/ckpt-4.data-00000-of-00001
training_checkpoints/ckpt-4.index
training_checkpoints/ckpt-5.data-00000-of-00001
training_checkpoints/ckpt-5.index
training_checkpoints_2/checkpoint
training_checkpoints_2/ckpt-1.data-00000-of-00001
training_checkpoints_2/ckpt-1.index
training_checkpoints_2/ckpt-2.data-00000-of-00001
training_checkpoints_2/ckpt-2.index
training_checkpoints_2/ckpt-3.data-00000-of-00001
training_checkpoints_2/ckpt-3.index
training_checkpoints_2/ckpt-4.data-00000-of-00001
training_checkpoints_2/ckpt-4.index
training_checkpoints_2/ckpt-5.data-00000-of-00001
training_checkpoints_2/ckpt-5.index
training_checkpoints_3/checkpoint
training_checkpoints_3/ckpt-1.data-00000-of-00001
training_checkpoints_3/ckpt-1.index
training_checkpoints_3/ckpt-2.data-00000-of-00001
training_checkpoints_3/ckpt-2.index
training_checkpoints_3/ckpt-3.data-00000-of-00001
training_checkpoints_3/ckpt-3.index
training_checkpoints_3/ckpt-4.data-00000-of-00001
training_checkpoints_3/ckpt-4.index
training_checkpoints_3/ckpt-5.data-00000-of-00001
training_checkpoints_3/ckpt-5.index
training_checkpoints_randomly data/checkpoint
training_checkpoints_randomly data/ckpt-1.data-00000-of-00001
training_checkpoints_randomly data/ckpt-1.index
training_checkpoints_randomly data/ckpt-2.data-00000-of-00001
training_checkpoints_randomly data/ckpt-2.index
training_checkpoints_randomly data/ckpt-3.data-00000-of-00001
training_checkpoints_randomly data/ckpt-3.index
training_checkpoints_randomly data/ckpt-4.data-00000-of-00001
training_checkpoints_randomly data/ckpt-4.index
training_checkpoints_randomly data/ckpt-5.data-00000-of-00001
training_checkpoints_randomly data/ckpt-5.index
training_checkpoints_randomly data2/checkpoint
training_checkpoints_randomly data2/ckpt-1.data-00000-of-00001
training_checkpoints_randomly data2/ckpt-1.index
training_checkpoints_randomly data2/ckpt-2.data-00000-of-00001
training_checkpoints_randomly data2/ckpt-2.index
training_checkpoints_randomly data2/ckpt-3.data-00000-of-00001
training_checkpoints_randomly data2/ckpt-3.index
training_checkpoints_randomly data2/ckpt-4.data-00000-of-00001
training_checkpoints_randomly data2/ckpt-4.index
training_checkpoints_randomly data2/ckpt-5.data-00000-of-00001
training_checkpoints_randomly data2/ckpt-5.index
training_checkpoints_randomly data3/checkpoint
training_checkpoints_randomly data3/ckpt-1.data-00000-of-00001
training_checkpoints_randomly data3/ckpt-1.index
training_checkpoints_randomly data3/ckpt-2.data-00000-of-00001
training_checkpoints_randomly data3/ckpt-2.index
training_checkpoints_randomly data3/ckpt-3.data-00000-of-00001
training_checkpoints_randomly data3/ckpt-3.index
training_checkpoints_randomly data3/ckpt-4.data-00000-of-00001
training_checkpoints_randomly data3/ckpt-4.index
training_checkpoints_randomly data3/ckpt-5.data-00000-of-00001
training_checkpoints_randomly data3/ckpt-5.index
